@import './variables';
.button_getStarted {
    padding: 20px 127px;
    background-color: hsl(198, 60%, 50%);
    outline: none;
    border: none;
    border-radius: 67px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    text-align: center;
}