@import './variables';
.section_productive {
    padding-bottom: 100px;
    .section_productive__image--container {
        padding-bottom: 40px;
        .section_productive__image {
            width: 100%;
        }
    }
    .section_productive__description--container {
        .section_productive__title {
            color: $main-text-color;
        }
        .section_productive__paragraph {
            color: $main-text-color;
        }
    }
}