@import './variables';
.section_articles {
    padding-bottom: 80px;
    .article_item {
        text-align: center;
        padding-top: 100px;
        .article_title {
            color: $main-text-color;
        }
        .article_paragraph {
            color: $main-text-color;
        }
        .article_item__image {
            padding-bottom: 20px;
        }
    }
}

@media(min-width: 1114px) {
    .section_articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
        max-width: 1000px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        .article_item {
            padding-top: 50px;
        }
    }
}