@import './variables';
.section_reports {
    padding-top: 80px;
    padding-bottom: 80px;
    // text-align: center;
    .report_container {
        background-color: hsl(219, 30%, 18%);
        padding: 20px;
        border-radius: 5px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        .profile_image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .report_pragraph {
            color: $main-text-color;
        }
        a {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            .profile_name {
                color: $main-text-color;
                margin: 0;
            }
            .profile_carrer {
                color: $main-text-color;
            }
        }
    }
}

@media(min-width: 1114px) {
    .section_reports {
        display: flex;
        flex-direction: row;
        gap: 20px;
        max-width: 1114px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 50px;
        .report_container {
            margin: 0;
        }
    }
}