html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

body {
  background-color: #181f2a;
  margin: 0; }

ul {
  padding: 0;
  list-style: none;
  margin: 0; }

a {
  text-decoration: none;
  display: inline-block; }

.container {
  padding-left: 20px;
  padding-right: 20px; }

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 60px; }
  .header_container h1 {
    margin: 0;
    padding-top: 20px; }
  .header_container .header_navigation .nav_container {
    display: flex;
    flex-direction: row; }
    .header_container .header_navigation .nav_container .nav_list__item {
      margin-left: 20px; }

@media (min-width: 1114px) {
  .header_container {
    padding-bottom: 30px; } }

.header_main__container {
  padding-bottom: 80px; }
  .header_main__container .illustration_image {
    width: 100%; }
  .header_main__container .header_main__textContainer {
    text-align: center;
    padding-top: 20px; }
    .header_main__container .header_main__textContainer p,
    .header_main__container .header_main__textContainer h2 {
      color: white; }

@media (min-width: 1114px) {
  .header_main__container {
    text-align: center;
    padding-bottom: 40px; }
    .header_main__container .illustration_image__container,
    .header_main__container .header_main__textContainer {
      width: 500px;
      margin: auto; } }

.section_articles {
  padding-bottom: 80px; }
  .section_articles .article_item {
    text-align: center;
    padding-top: 100px; }
    .section_articles .article_item .article_title {
      color: white; }
    .section_articles .article_item .article_paragraph {
      color: white; }
    .section_articles .article_item .article_item__image {
      padding-bottom: 20px; }

@media (min-width: 1114px) {
  .section_articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    max-width: 1000px;
    margin: auto;
    padding-left: 0;
    padding-right: 0; }
    .section_articles .article_item {
      padding-top: 50px; } }

.button_getStarted {
  padding: 20px 127px;
  background-color: #339ecc;
  outline: none;
  border: none;
  border-radius: 67px;
  color: white;
  font-weight: bold;
  text-align: center; }

.section_productive {
  padding-bottom: 100px; }
  .section_productive .section_productive__image--container {
    padding-bottom: 40px; }
    .section_productive .section_productive__image--container .section_productive__image {
      width: 100%; }
  .section_productive .section_productive__description--container .section_productive__title {
    color: white; }
  .section_productive .section_productive__description--container .section_productive__paragraph {
    color: white; }

@media (min-width: 1114px) {
  .section_productive {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    max-width: 1114px;
    margin: auto;
    padding-bottom: 50px; }
    .section_productive .section_productive__image--container {
      width: 900px; } }

.section_reports {
  padding-top: 80px;
  padding-bottom: 80px; }
  .section_reports .report_container {
    background-color: #202a3c;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px; }
    .section_reports .report_container .profile_image {
      width: 50px;
      height: 50px;
      border-radius: 50%; }
    .section_reports .report_container .report_pragraph {
      color: white; }
    .section_reports .report_container a {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center; }
      .section_reports .report_container a .profile_name {
        color: white;
        margin: 0; }
      .section_reports .report_container a .profile_carrer {
        color: white; }

@media (min-width: 1114px) {
  .section_reports {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1114px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px; }
    .section_reports .report_container {
      margin: 0; } }

.section_accessibility {
  padding-bottom: 100px; }
  .section_accessibility .accessibility_information__container {
    padding: 40px 20px;
    background-color: #202a3c;
    text-align: center;
    border-radius: 5px; }
    .section_accessibility .accessibility_information__container .accessibility_information__title {
      color: white; }
    .section_accessibility .accessibility_information__container .accessibility_information__text {
      color: white; }
    .section_accessibility .accessibility_information__container .accessibility_form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 30px; }
      .section_accessibility .accessibility_information__container .accessibility_form input {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 127px;
        padding-left: 20px;
        background-color: white;
        outline: none;
        border: none;
        border-radius: 67px;
        font-weight: bold;
        text-align: start;
        color: lightgray; }

@media (min-width: 1114px) {
  .section_accessibility {
    text-align: center; } }

body > footer {
  background-color: #0b1523; }

.footer_container {
  padding-top: 100px;
  padding-bottom: 80px; }
  .footer_container .wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px; }
  .footer_container .footer_location {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px; }
    .footer_container .footer_location p {
      color: white; }
  .footer_container .footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .footer_container .footer_contacts li {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: baseline; }
      .footer_container .footer_contacts li a {
        color: white; }
  .footer_container .footer_moreLinks__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px; }
    .footer_container .footer_moreLinks__wrapper .footer_moreLinks__container {
      display: flex;
      flex-direction: column;
      gap: 10px; }
      .footer_container .footer_moreLinks__wrapper .footer_moreLinks__container li a {
        color: white; }
  .footer_container .footer_icons__wrapper .footer_icons__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px; }
